html {
    /* background-color: lavenderblush; */
  }

  @media screen and (max-width: 672px) {
    iframe {
      width: 100%;
    }
  }

  @media screen and (max-width: 500px) {
    iframe {
      width: 100%;
      height: auto;
    }
  }